.productCard{
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: none;
    color: inherit;
}


.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.02); }

.productCard:hover{
    cursor: pointer;
}

.productCard > img {
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.productCard__info {
    padding-top: 1rem;
    font-family: "Poppins";
}

.productCard__infoCategory{
    width: fit-content;
    background-color: #FF97B7;
    border-radius: 10px;
    padding: 0 0.5rem;
    color: white;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
} 

.productCard__infoCategoryPrecio {
    font-weight: 600;
    color: black;
    font-family: "Poppins";
    margin-top: 0.5rem;
}


@media (max-width:900px){
        .productCard{
            margin-bottom: 3rem;
        }
}