.navbar{
    background-color: white !important;
    height: fit-content;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 1rem;
}

.navbar-nav{
    align-items: center;
}

.logo{
    object-fit: contain;
    border-radius: 50%;
    border: 2px dotted #6fc2b8;
}

.navbar-nav > a {
    color: #6fc2b8;
    font-size: 1.5rem;
    font-family: 'mouse memoirs';
    margin-right: 1.3rem;
}

.header__right > a > svg {
    height: 50px;
}


.header__right > a > svg:hover{
    color:#ef476f ;
    border-bottom: 1px solid #ef476f;
    cursor: pointer;
}

.header__right > p{
    margin: 0 !important;
}

.header__right{
    align-items: center;
}

.login-button:hover{
    background-color: #ef476f;
    cursor: pointer;
}

.header__left > a:hover {
    color: #F8D4DB;
    border-bottom: 1px solid #F8D4DB;
    text-decoration: none;
    
}

.header__leftSearch{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: white;
    width: 500px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #6fc2b8;
    padding-left:1rem;
}

.header__leftSearch > input {
    border: none;
    outline: none;
    font-size: 0.7rem;
}

.header__leftSearch > div {
    background-color: #6fc2b8;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:900px){
    .navbar-nav.header__right{
        display: flex;
        flex-direction: row;
    }
    .navbar-nav{
        align-items: flex-start;
    }
    .header__leftSearch{
        width: 100%;
    }
}

