.footer{
    background-color: #ef476f;
    height: 30vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3rem;
    margin-top:50px;
}

.footer__links{
    display: flex;
    /* justify-content: space-between; */
    max-width: 800px;
    text-align: center;
}